<table class='table'>
  <tr>
    <th>
    <% if user.profile_image.attached? %>
     <%= image_tag user.profile_image, size: "50x50" %>
    <% else %>
     <%= image_tag 'no_image.jpg', size: "50x50" %>
    <% end %>
    </th>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
</table>

  <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>