<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col' style='height: 400px; overflow-y: scroll;'>
      <h2>
        <%= @user.name %>とのダイレクトメッセージ
      </h2>
      <% @message.each do |msg| %>
        <p><%= msg.sender.name %>: <%= msg.message %></p>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <%= form_with(model: @new_message, url: messages_path, method: :post) do |form| %>
       <%= form.text_area :message, placeholder: "メッセージを入力..." %>
       <%= form.hidden_field :user_id, value: @user.id %>
       <%= form.submit "送信", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
